doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title URL Generator
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
   .container.mt-5
      h2 Generate URL
      form(id="generateForm")
        div.form-group
          label(for="urls") Enter URLs (newline separated):
          textarea.form-control#urls(rows="5")
        button.btn.btn-primary(type="submit") Generate URL
      div.mt-3
        label(for="result") Generated URL:
        input.form-control#result(readonly)
