doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title URL Generator
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    script.
      function encode(inputString) {
        return inputString.replace(/,/g, "%2C");
      }
      function generateUrl() {
        const urlsInput = document.getElementById('urls');
        const urls = urlsInput.value.split('\n').map(url => encode(url.trim()));
        console.log('Encoded URLs:', urls); // Log encoded URLs
        const urlCount = urls.length;
        const baseUrl = window.location.origin; // Use the current page's origin as the base URL
        console.log('Base URL:', baseUrl); // Log base URL
        const params = new URLSearchParams({
        //-   title: `${urlCount} Combined Feeds`,
          urls: urls.join(',')
        }).toString();
        const finalUrl = `${baseUrl}/?${params}`;
        console.log('Final URL:', finalUrl); // Log final URL
        document.getElementById('result').value = finalUrl;
      }
  body
  .container.mt-5
      h2 Generate URL
      div
        label(for="urls") Enter URLs (newline separated):
        textarea.form-control#urls(rows="5")
      button.btn.btn-primary(type="button" onclick="generateUrl();") Generate URL
      div.mt-3
        label(for="result") Generated URL:
        input.form-control#result(readonly)
